body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.back-button {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: green;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

strong {
    color: #007bff;
}

li:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}
